<% const { items, title, condition } = carousel; %>
<section class="slider-container">
    <div class="glide">
        <h2><%= title.toUpperCase(); %></h2>
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            <% items.forEach(item => { %>
                <li class="glide__slide">
                    <article class="card">
                        <a href="/shop/detail/<%= item.id %>">
                            <picture class="card__picture">
                                <% if (condition == "news") { %>
                                    <span class="card__picture--pill">NUEVO</span>
                                <% } %>
                                <img class="card__picture--img card__picture--img--1" src="/img<%= item.img.front %>" alt="<%= item.desc %> - Figura">
                                <img class="card__picture--img card__picture--img--2" src="/img/<%= item.img.back %>" alt="<%= item.desc %> - Caja">                    
                            </picture>
                            <div class="card__info">
                                <h3 class="card__info--title"><%= item.licence.toUpperCase()%></h3>
                                <h4 class="card__info--item"><%= item.item.toUpperCase() %></h4>
                                <p class="card__info--price">$ <%= item.price %> .-</p>
                                <p class="card__info--dues"><%= item.dues %> CUOTAS SIN INTERÉS</p>
                            </div>
                        </a>
                    </article>
                </li>
                <%}); %>
          </ul>
        </div>
        <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><span class="iconify" data-icon="fa-solid:chevron-left"></span></button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><span class="iconify" data-icon="fa-solid:chevron-right"></span></button>
        </div>
    </div>
</section> 